# Entornos virtuales locales
venv/
env/
pip_temp/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno seguras (no copiarlas directamente a la imagen)
.env
.env.example

# Archivos de Git
.git/
.gitignore