--extra-index-url https://download.pytorch.org/whl/cpu

torch
torchvision
transformers
transparent-background
matplotlib
gradio_client
supabase
Pillow
requests
scikit-learn
python-dotenv
numpy
fastapi
uvicorn
python-multipart
openai
mlflow
httpx